<!DOCTYPE html>
<html ng-app="myapp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="myctrl">
<form name="myForm">
    <input type="radio" name="color" ng-click="fn('red')" ng-model="color" value="red">  Red <br/>
    <input type="radio" name="color" ng-click="fn('blue')" ng-model="color" value="blue"> Blue <br/>
    <button ng-click="fn2(myForm)">click</button>
</form>


<script type="text/javascript" src="../js/angular.min.js"></script>
<script>
    var app= angular.module("myapp",[]);
    app.controller("myctrl",function($scope){
        //$scope.color='red';
        $scope.fn2=function(form){
            console.log(form.color);
        }
        $scope.fn=function(color){
            $scope.color=color;
            console.log($scope.color);
        }

    });
</script>
</body>
</html>