<!DOCTYPE html>
<html ng-app="myapp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="myctrl">

<ul>
    <li ng-repeat="item in arr"><input type="checkbox" ng-click="clickItem($event,item)"><span ng-bind="item.name"></span>
        <ul>
            <li ng-repeat="subItem in item.subArr"><input type="checkbox"><span ng-bind="subItem.name"></span></li>
        </ul>
    </li>
</ul>
<script type="text/javascript" src="../js/angular.min.js"></script>

<script>
   var app= angular.module("myapp",[]);
    app.controller("myctrl",function($scope){

        $scope.choseArr=[];
        $scope.arr=[
            {name:'A',unitId:'A',subArr:[
                    {name:'a1',unitId:'A'},
                    {name:'a2',unitId:'A'},
                    {name:'a3',unitId:'A'},
                    {name:'a4',unitId:'A'}
                ]
            }
        ];

        $scope.clickItem=function(e,item){
            if(e.target.checked){
                console.log('xuan');
                angular.forEach(item.subArr,function(eachItem){
                    $scope.choseArr.push(eachItem);
                });

            }else{
                console.log('bu xuan');

                /*var count=$scope.choseArr.length;
                for(var i=0 ;i<count;i++){
                     for(var j=0;j<$scope.choseArr.length;j++){
                            if($scope.choseArr[j].unitId===item.unitId){
                                $scope.choseArr.splice(j,1);
                            }
                         return;
                        }
                }*/


                $scope.copyArr=angular.copy($scope.choseArr);
                var count=0;
                angular.forEach($scope.copyArr,function(eachItem,eachIndex){
                    if(eachItem.unitId===item.unitId){
                        $scope.choseArr.splice(eachIndex-count,1);
                        count++;
                    }
                });

            }
            console.log($scope.choseArr);


        }



    });
</script>
</body>
</html>