<!DOCTYPE html>
<html ng-app="myapp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="myctrl">
<label ng-repeat="item in arr">
    {{item.name}}:
    <input type="radio" ng-value="item.name" ng-model="my.fav" name="a1">
</label>
<div>{{my.fav}}</div>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script>
   var app= angular.module("myapp",[]);
    app.controller("myctrl",function($scope){
        $scope.my={fav:"足球"};
        $scope.arr=[
            {name:"篮球"},
            {name:"足球"},
            {name:"乒乓球"},
            {name:"排球"}
        ];
    });
</script>
</body>
</html>