<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="con">

<input type="radio" ng-model="aaa"  name="aaa" value="true" />
<input type="radio" mydir ng-model="aaa" name="aaa" value="false" judge="true" />
<input type="text" ng-model="text" />
<button ng-click="fn()">1111</button>

<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/angular2.min.js"></script>
<script>
    var app=angular.module('app',[]);
    app.controller('con',function($scope,$timeout){
        $scope.bbb='true';
        $timeout(function(){
            $scope.aaa='true';
            $scope.text=666;
        },2000);

        //console.log($scope.aaa);
        $scope.fn=function(e){
            $scope.aaa=true;
            console.log($scope.text);

        }
    });
    app.directive('mydir',function(){
        return {
            require:'?^ngModel',
            replace:true,
            link:function($scope,ele,attr,ngModel){
                var next=$(ele).next();
                var nm=next.attr('ng-model');
                console.log($scope[attr.ngModel]);
                if($scope[attr.ngModel]==undefined||$scope[attr.ngModel]==null||$scope[attr.ngModel]==''){
                    $scope[nm]='';
                    next.attr('disabled','disabled');
                }

                $scope.$watch(attr.ngModel,function(newVal){
                    if (newVal==attr.judge) {
                        //$scope[nm]=666;
                        next.removeAttr('disabled');
                    } else {
                        $scope[nm]='';
                        next.attr('disabled','disabled');
                    }
                });

                /*ngModel.$viewChangeListeners.push(function () {
                    var modelValue=ngModel.$modelValue;
                    console.log(modelValue);
                    if (modelValue==true) {
                        $scope[nm]=666;
                        next.removeAttr('disabled');
                    } else {
                        $scope[nm]='';
                        next.attr('disabled','disabled');
                    }
                });*/

            }
        }
    });
</script>
</body>
</html>