<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="con">


<ul>
    <li ng-repeat="item in list"><input ng-model="item[item.haha]" /></li>
</ul>


<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/angular2.min.js"></script>
<script>
    var app=angular.module('app',[]);
    app.controller('con',function($scope){



        $scope.list=[{name:'a1',haha:'name'},{name:'a2',haha:'name'}];
    });


</script>
</body>
</html>