<!DOCTYPE html>
<html ng-app="myapp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="myctrl">
<button ng-click="fn()">BTN</button>
<form name="myform">
    <input type="text" name="text" ng-model="aaa" mydir3 />
    <div name="edit" contenteditable="true" ng-model="edit" mydir4 style="width:500px; height:40px;border:1px solid red"></div>
</form>



<div ng-if="myform.edit.$error.mydir4">错误！！！！！</div>




<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script>


   var app= angular.module("myapp",[]);


    app.controller("myctrl",function($scope){
        $scope.edit='888';
        $scope.fn=function(){
            console.log($scope.edit);
        }

    });


   app.directive('mydir3',function(){
       return {
           restrict:'A',
           require:'ngModel',
           link:function($scope,ele,attr,ngModelController){

               ngModelController.$parsers.push(function(viewVal){
                   if(viewVal=='我'){
                       ngModelController.$setValidity('mydir3',true);
                   }else{
                       ngModelController.$setValidity('mydir3',false);
                   }
                   return viewVal;
               });

               ngModelController.$formatters.push(function(modelVal){
                   return modelVal+'....';
               });
               console.log(ngModelController.$parsers);
           }
       }
   });

   app.directive('mydir4',function(){
       return {
           restrict:'A',
           require:'ngModel',
           link:function($scope,ele,attr,ngModelController){
               $(ele).keyup(function(){
                   ngModelController.$render=function(){
                       ngModelController.$setViewValue(ele.html());
                       //ngModelController.$modelValue=ngModelController.$viewValue;
                   }
                   ele.bind('keyup',function(){
                       ngModelController.$setViewValue(ele.html());
                   });

                   console.log(ngModelController);
               });

               ngModelController.$parsers.push(function(viewVal){
                   if(ngModelController.$viewValue=='haha'){
                       ngModelController.$setValidity('mydir4',true);
                   }else{
                       ngModelController.$setValidity('mydir4',false);
                   }

                   //console.log(ngModelController);
               });
           }
       }
   });
</script>

</body>
</html>