<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="con">


<ul>
    <li ng-if="$index<6 || bol==true" ng-repeat="item in arr">{{item}}</li>
</ul>
<div>
    <button ng-click="fn()">more...</button>
</div>

<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/angular2.min.js"></script>
<script>
    var app=angular.module('app',[]);
    app.controller('con',function($scope){

        $scope.arr=[1,2,3,4,5,6,7,8,9,10];
        $scope.bol=false;
        $scope.fn=function(){
            $scope.bol=true;
        }

    });


</script>
</body>
</html>