<!DOCTYPE html>
<html ng-app="myapp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <style>
        .clear{clear:both;_zoom:1;}
        .clear:after,.clear:before{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
        body {
            padding: 50px 0px 0px 100px;
        }

        * {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        input[type="checkbox"] {

        }

        .ml-1 {
            margin-left: 10px;
        }

        .mt-1 {
            margin-top: 10px;
        }

        .mb-1 {
            margin-bottom: 10px;
        }
        li{margin-bottom:10px;}
        .tab-btn-group a{display:inline-block; width:85px; height:35px; text-align:center; line-height:35px;
         text-decoration:none; color:#000; border:1px solid deepskyblue;}
        .tab-btn-group .active a{background:deepskyblue; color:#fff;}
        .tab-btn-group ul li{float:left;}
    </style>
</head>

<body ng-controller="myctrl">

<div class="tab-btn-group">
    <ul class="clear">
        <li class="active"><a href="#all" data-toggle="tab">知识列表</a></li>
        <li><a href="#no" data-toggle="tab" ng-click="manyDelete()">未掌握</a></li>
    </ul>

</div>
<div class="tab-content" style="margin-top:15px;">
    <div id="all" role="tabpanel" class="tab-pane fade in active">
        <ul>
            <li ng-repeat="item in data" ng-init="parsindex=$index">
                <span style="font-size:18px; font-weight:bold;">{{item.subject}} <input ng-model="  item.ischecked" type="checkbox" class="ml-1" ng-click="checkItem(item,$index,data)" /><span>已掌握</span></span>
                <ul style="margin-left:10px; padding-top:10px;">
                    <li ng-repeat="subItem in item.zjitem" ng-init="parindex=$index">
                        <span style="font-weight:bold;">{{subItem.classname}} <input type="checkbox" ng-model="subItem.ischecked" class="ml-1" ng-click="checkSubitem(subItem,$index,item.zjitem,item)" /><span>已掌握</span></span>
                        <ul style="margin-left:20px; padding-top:10px;">
                            <li ng-repeat="grandItem in subItem.info"><span>{{grandItem.info}} <input type="checkbox" ng-model="grandItem.ischecked" class="ml-1" ng-click="checkIt(subItem.info,$index,subItem,item)" /><span>已掌握</span></span></li>
                        </ul>
                    </li>
                </ul>
            </li>


        </ul>
    </div>
    <div id="no" role="tabpanel" class="tab-pane fade">
        <div ng-if="txtshow" style="font-size: 28px; font-weight:bold; color:deepskyblue;">真棒，您已经掌握全部知识点！！！！</div>
        <ul>
            <li ng-repeat="item in data" ng-init="parsindex=$index" ng-if="!item.undeleted">
                <span style="font-size:18px; font-weight:bold;">{{item.subject}} <input type="checkbox" ng-model="item.ischecked" class="ml-1" ng-click="checkItem(item,$index,data)" /><span>已掌握</span></span>
                <ul style="margin-left:10px; padding-top:10px;">
                    <li ng-repeat="subItem in item.zjitem" ng-init="parindex=$index" ng-if="!subItem.undeleted">
                        <span style="font-weight:bold;">{{subItem.classname}} <input ng-model="subItem.ischecked" type="checkbox" class="ml-1" ng-click="checkSubitem(subItem,$index,item.zjitem,item)" /><span>已掌握</span></span>
                        <ul style="margin-left:20px; padding-top:10px;">
                            <li ng-if="!grandItem.undeleted" ng-repeat="grandItem in subItem.info"><span>{{grandItem.info}} <input type="checkbox" class="ml-1" ng-model="grandItem.ischecked" ng-click="checkIt(subItem.info,$index,subItem,item)" /><span>已掌握</span></span></li>
                        </ul>
                    </li>
                </ul>
            </li>


        </ul>
    </div>
</div>


<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/lodash.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../angular.min.js"></script>
<script>
   var app= angular.module("myapp",[]);
    app.controller("myctrl",function($scope){
        $scope.txtarr=[];
        $scope.txtshow=false;
        $scope.data = [

            {
                ischecked:false,
                totalItem:0,
                it:0,
                linshilen:0,
                arr:[],
                arr2:[],
                subject:"内科", zjitem: [
                {
                    classname:"分类1",
                    ischecked:false,
                    arr:[],
                    info: [{id: "item2-1-1", ischecked: false, info: "知识点1"},
                        {id: "item2-1-2", ischecked: false, info: "知识点2"},
                        {id: "item2-1-2", ischecked: false, info: "知识点3"},
                        {id: "item2-1-2", ischecked: false, info: "知识点4"}
                    ]
                },
                {
                    classname:"分类2",
                    ischecked:false,
                    arr:[],
                    info: [{id: "item2-1-1", ischecked: false, info: "知识点1"},
                        {id: "item2-1-2", ischecked: false, info: "知识点2"},
                        {id: "item2-1-2", ischecked: false, info: "知识点3"}
                    ]
                },
                {
                    classname:"分类3",
                    ischecked:false,
                    arr:[],
                    info: [{id: "item2-1-1", ischecked: false, info: "知识点1"}, {
                        id: "item2-1-2",
                        ischecked: false,
                        info: "知识点2"
                    }]
                },
                {
                    classname:"分类4",
                    ischecked:false,
                    arr:[],
                    info: [{id: "item2-1-1", ischecked: false, info: "知识点1"}]
                }

            ]
            },
            {
                ischecked:false,
                totalItem:0,
                it:0,
                linshilen:0,
                arr:[],
                arr2:[],
                subject:"外科", zjitem: [
                {
                    classname:"分类1",
                    ischecked:false,
                    arr:[],
                    info: [{id: "item2-1-1", ischecked: false, info: "知识点1"}, {
                        id: "item2-1-2",
                        ischecked: false,
                        info: "知识点2"
                    }]
                },
                {
                    classname:"分类2",
                    ischecked:false,
                    arr:[],
                    info: [{id: "item2-1-1", ischecked: false, info: "知识点1"}, {
                        id: "item2-1-2",
                        ischecked: false,
                        info: "知识点2"
                    }]
                },
                {
                    classname:"分类3",
                    ischecked:false,
                    arr:[],
                    info: [{id: "item2-1-1", ischecked: false, info: "知识点1"}, {
                        id: "item2-1-2",
                        ischecked: false,
                        info: "知识点2"
                    }]
                }

            ]
            }


        ];

        for(var i=0;i<$scope.data.length;i++){ //每个zjitem的总笔记数
            for(j=0;j<$scope.data[i].zjitem.length;j++){
                $scope.data[i].totalItem+=$scope.data[i].zjitem[j].info.length;
            }
        }




        $scope.checkIt = function (arr, index ,subArr ,parentarr) { //点击checkbox切换true和false

            //arr[index].ischecked = !arr[index].ischecked;

            if(arr[index].ischecked==true){
                subArr.arr.push("a");
                parentarr.arr2.push("a");
            }else{
                subArr.arr.splice(0,1);
                parentarr.arr2.splice(0,1);
            }





            if(subArr.arr.length==subArr.info.length){//控制每个子项的孙子满后每个课时打钩
                subArr.ischecked=true;

            }else{
                subArr.ischecked=false;
            }


            if(parentarr.arr2.length==parentarr.totalItem){
                parentarr.ischecked=true;
            }else{
                parentarr.ischecked=false;
            }
            console.log(parentarr.arr2.length+"checkIt");


        }

        $scope.checkSubitem = function (arr, index ,subarr , parentarr) { //点击checkbox切换true和false
            //subarr[index].ischecked=!subarr[index].ischecked
            if(subarr[index].ischecked==true){ //防止全选后又取消一个子项全部被删除
                parentarr.arr.push("a");
                if(arr.arr.length==0){
                    for(var i=0;i<arr.info.length;i++){
                        arr.arr.push("a");
                        parentarr.arr2.push("a");
                        //arr.info[i].ischecked=true;
                    }
                }else{
                    for(var i=0;i<arr.info.length-arr.arr.length;i++){//长度是info的长度减去被选中的arr的长度
                        parentarr.arr2.push("a");
                        arr.arr.push("a");
                        // arr.info[i].ischecked=true;
                    }
                }
                for(var i=0;i<arr.info.length;i++){//长度是info的长度减去被选中的arr的长度
                    arr.info[i].ischecked=true;
                }



            }else{
                parentarr.arr.splice(0,1);
                for(var i=0;i<arr.info.length;i++){
                    parentarr.arr2.splice(0,1);
                    arr.arr.splice(0,1);
                    arr.info[i].ischecked=false;
                }
            }



            if(parentarr.arr2.length==parentarr.totalItem){
                parentarr.ischecked=true;
            }else{
                parentarr.ischecked=false;
            }
            console.log(parentarr.arr2.length+"checkSub");



        }

        $scope.checkItem=function(arr,index,data){
            //data[index].ischecked=!data[index].ischecked;
            if(data[index].ischecked==true){

                var checkedItem=0;
                for(var k=0;k<arr.zjitem.length;k++){
                    arr.zjitem[k].ischecked=true;
                    if(arr.zjitem[k].arr.length==0){
                        for(var i=0;i<arr.totalItem;i++){
                            arr.arr2.length=arr.totalItem;
                        }

                        for(var i=0;i<arr.zjitem.length;i++){
                            arr.arr.length=arr.zjitem.length;
                        }

                        for(var j=0;j<arr.zjitem[k].info.length;j++){
                            arr.zjitem[k].arr.length=arr.zjitem[k].info.length;
                        }

                    }else{
                        checkedItem+=arr.zjitem[k].length;
                        for(var i=0;i<checkedItem;i++){
                            arr.arr2.length=checkedItem;
                        }
                        for(var i=0;i<arr.zjitem.length-arr.arr.length;i++){
                            arr.arr.length=arr.zjitem.length-arr.arr.length;
                        }
                        for(var j=0;j<arr.zjitem[k].info.length-arr.zjitem[k].arr.length;j++){
                            arr.zjitem[k].arr.length=arr.zjitem[k].info.length-arr.zjitem[k].arr.length;
                        }

                    }

                    for(var j=0;j<arr.zjitem[k].info.length;j++){
                        arr.zjitem[k].info[j].ischecked=true;
                    }
                }




            }else{
                for(var k=0;k<arr.zjitem.length;k++){
                    arr.zjitem[k].ischecked=false;
                    arr.zjitem[k].arr.length=0;
                    for(var j=0;j<arr.zjitem[k].info.length;j++){
                        arr.zjitem[k].info[j].ischecked=false;
                    }
                }
                arr.arr2.length=0;
                arr.arr.length=0;


            }

            console.log(arr.arr2.length+"checkItem");


        }



        $scope.manyDelete = function () { //批量删除选中的
            var a=0;
            var b=0;

            for(var i=0;i<$scope.data.length;i++){
                a+=$scope.data[i].arr2.length;
                b+=$scope.data[i].totalItem;
            }
            //console.log(a+"!"+b);
            if(a==b){
                $scope.txtshow=true;
            }else{
                $scope.txtshow=false;
            }

            angular.forEach($scope.data, function (item) {
                if(item.ischecked==true){//删除章节
                    item.undeleted=true;
                }else{
                    item.undeleted=false;
                }

                angular.forEach(item.zjitem, function (subItem) {



                    if(subItem.ischecked==true){//删除课时
                        subItem.undeleted=true;
                    }else{
                        subItem.undeleted=false;
                    }

                    angular.forEach(subItem.info, function (grandItem) {
                        if (grandItem.ischecked==true) {//单个删除
                            grandItem.undeleted=true;
                        }else{
                            grandItem.undeleted=false;
                        }


                    })
                })
            });

            console.log($scope.data);


        }




    });
</script>
</body>
</html>