<!DOCTYPE html>
<html ng-app="myapp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="myctrl">


<div mydir3 my-name="name" age="age2" my-school="school2" my-des="{{des}}" my-click="fuck()"></div>

<button ng-click="fn()">click me</button>

<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script>


   var app= angular.module("myapp",[]);


    app.controller("myctrl",function($scope){
        $scope.school2='ACCccccccc';
        $scope.fn=function(){
            console.log($scope.name+'，'+$scope.age2+'，'+$scope.school2);
        }
    });


   app.directive('mydir3',function(){
       return {
           restrict:'A',
           template:
           '<div>' +
           '<input type="text" ng-model="name" /> ' +
           '<input type="text" ng-model="age" /> ' +
           '<input type="text" ng-model="school" />' +
                   '<div>{{des}}</div>' +
                   '<button ng-click="click()">button</button>' +
           '</div>',
           link:function($scope,ele,attr,mydirCtrl){
               //console.log(scope);
               $scope.name='allenkis';
               $scope.age='18';
               $scope.age2='28';
               $scope.school='ACC';
               $scope.school2='ACCccccccc';
           },
           /*controller:function($scope){
               $scope.name='allenkis';
               $scope.age='18';
               $scope.age2='28';
               $scope.school='ACC';
               $scope.school2='ACCccccccc';



           },*/

           //scope使用方法：key其实就是代表model绑定到template上的model value代表在外面的属性比如my-name=""
           //如果my-name="xxxx" 那么xxxx就是控制器里面的$scope.xxxx
           scope:{
               name:'=myName',
               age:'=',//默认age='=age'
               school:'=mySchool',
               des:'@myDes',
               click:'&myClick'
           }
       }
   });
</script>

</body>
</html>