<!DOCTYPE html>
<html ng-app="myapp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="myctrl">



<mydir></mydir>

<div mydir3></div>


<input type="text" ng-model="name" />


<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script>


   var app= angular.module("myapp",[]);


    app.controller("myctrl",function($scope){

        $scope.name='allen';
        $scope.arr=[1,2];

        //console.log($scope);
        console.log($scope.name);

    });

    app.directive('mydir',function(){
        return {
            restrict:'E',
            transclude:true,
            template:'<div><div ng-repeat="item in list">{{item.name}}</div><div mydir2></div></div>',
            compile:function(ele,attr,transclude){
                console.log(ele.html());
                var fun=function(){//不需要scope时候公共的东西可以定义在这提高性能
                    alert(1);
                }
                return {
                    pre:function(scope,ele,attr,controller){
                        //scope.fn=function(){
                            console.log(222222);
                        //};
                        console.log(ele.html());
                    },
                    post:function(scope,ele,attr,controller){
                        //scope.name='bbb';
                        console.log(ele.html());
                        console.log(fun);
                    }
                }
            },
            /*controller:function($scope){
                $scope.list=[{name:'allen'},{name:'tom'}];
            }*/
            controller:['$scope','$timeout',function($scope,$timeout){
                $scope.list=[{name:'allen'},{name:'tom'}];
                console.log($timeout);
                this.fn=function(){
                    alert('sss');
                }
            }],
            controllAs:'mydirCtrl'
        }
    });

   app.directive('mydir2',function(){
       return {
           restrict:'A',
           require:'^?mydir',//只能向上查找 问号加上不会报错
           template:'<button>click</button>',
           link:function(scope,ele,attr,mydirCtrl){
               $(ele).click(function(){
                   mydirCtrl.fn();
               });
           }
       }
   });

   app.directive('mydir3',function(){
       return {
           restrict:'A',
           template:'<div>{{name}}</div>',
           link:function(scope,ele,attr,mydirCtrl){
               //console.log(scope);
           },
           controller:function($scope){
               $scope.name='haha';
               console.log($scope.name);
           },
           scope:true
       }
   });
</script>

</body>
</html>