<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="con">
<button ng-click="clickBtn1()">btn1</button>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script>
    var app=angular.module('app',[]);
    app.controller('con',function($scope,mainFactory){
        //console.log(mainFactory.obj);
        $scope.clickBtn1=function(){
            //console.log(mainFactory);
            mainFactory.childOne($scope);
        }
    });
    app.factory('mainFactory',function($compile){

        function creatChild(type,$scope){
            var dom='<div parent class="aaaaa">';
            switch(type){
                case 'childOne':
                dom+='<div child-one></div>';
                break;

                case 'childTwo':
                dom+='<div child-two></div>';
                break;

                case 'childThree':
                dom+='<div child-three></div>';
                break;
            }
            dom+='</div>';
            var compileDom=$compile(dom)($scope);
            //console.log(compileDom);
            //$('body').append(compileDom);
            angular.element('body').append(compileDom);
        }

        return {
            childOne:function($scope){
                creatChild('childOne',$scope);
            }
        }
    });
    app.directive('parent',function(){
        return {
            controller:function($scope,$element){
                console.log($element);
                this.alert=function(){
                    alert('test!!');
                }
                $scope.fn=function(){
                    alert('sss');
                }
                $scope.str='hahhahaa';
            },
            link:function($scope,ele,attr,ctrl){
                //ctrl.alert();
                $scope.click=ctrl.alert;
                //$scope.str='hahhahaa';
            }
        }
    });

    app.directive('childOne',function(){//子指令可以吃到父亲指令的方法
        return {
            require:'?^parent',
            template:'<div>我是childOne！！！！！！！！！！！<button ng-click="fn()">{{str}}我是childOne</button></div>',
            link:function($scope,ele,attr,ctrl){

            }
        }
    });
</script>
</body>
</html>