<!DOCTYPE html>
<html ng-app="myapp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            padding: 50px 0px 0px 100px;
        }

        * {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        textarea {
            width: 300px;
            height: 70px;
            resize: none;
        }

        input[type="checkbox"] {
            vertical-align: 32px;
        }

        .ml-1 {
            margin-left: 10px;
        }

        .mt-1 {
            margin-top: 10px;
        }

        .mb-1 {
            margin-bottom: 10px;
        }
    </style>
</head>
<body ng-controller="myctrl">
<button ng-click="isCheckboxShow=!isCheckboxShow" class="mb-1">批量管理</button>
<div ng-show="isCheckboxShow"><input ng-checked="ischeckedAll" type="checkbox" ng-click="checkAll()" style="vertical-align:0px;" /> 全选</div>


<ul manydelete>
    <li ng-if="!item.undeleted && !item.undeleted2" ng-repeat="item in data" class="item-zj" ng-init="parsindex=$index">
        <div>
            <h2>
                <input ng-checked="item.ischecked || item.ischecked2" style="vertical-align:0px;" ng-click="checkItem(item,$index,data)" type="checkbox" ng-show="isCheckboxShow"/>
                第<span>{{item.zj}}</span>章
            </h2>
        </div>
        <ul class="ks-ul" style="margin-left:10px;">
            <li ng-if="!itemerzi.undeleted && !itemerzi.undeleted2" class="parentitem" ng-repeat="itemerzi in item.zjitem" ng-init="parindex=$index">
                <div class="mt-1">
                    <input ng-checked="itemerzi.ischecked || itemerzi.ischecked2" style="vertical-align:0px;" ng-click="checkSubitem(itemerzi,$index,item.zjitem,item)" type="checkbox" ng-show="isCheckboxShow"/>
                    第{{itemerzi.ks}}课时</div>
                <ul class="mt-1 item-list" style="margin-left:10px;">
                    <li class="mt-1" ng-repeat="itemsunzi in itemerzi.info" editdiv ng-if="!itemsunzi.undeleted && !itemsunzi.undeleted2">
                        <input ng-model="itemsunzi.ischecked"
                               ng-click="checkIt(itemerzi.info,$index,itemerzi,item)"
                               type="checkbox"
                               ng-checked="itemsunzi.ischecked || itemsunzi.ischecked2"
                               ng-show="isCheckboxShow"/>
                        <textarea readonly>{{itemsunzi.info}}</textarea>
                        <a href="javascript:void(0)" class="edit">编辑</a>
                        <a href="javascript:void(0)" ng-click="delete($index,parindex,parsindex,itemsunzi,itemerzi,item,data)">删除</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<button ng-click="manyDelete()" class="mt-1 many-del">批量删除！</button>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script>
    var app = angular.module("myapp", []);
    app.controller("myctrl", function ($scope, $timeout) {
        $scope.data = [
            {
                ischecked:false,
                ischecked2:false,
                totalItem:0,
                it:0,
                linshilen:0,
                arr:[],
                arr2:[],
                arr3:[],
                zj: 1, zjitem: [
                {
                    ks: 1.1,
                    ischecked:false,
                    ischecked2:false,
                    arr:[],
                    arr2:[],
                    info: [{id: "item1-1-1", ischecked: false,  ischecked2: false, time: "xxx", info: "第1章第1课时第1笔记"}, {
                        id: "item1-1-2",
                        ischecked: false,
                        ischecked2: false,
                        time: "xxx",
                        info: "第1章第1第2笔记"
                    }]
                },
                {
                    ks: 1.2,
                    ischecked:false,
                    ischecked2:false,
                    arr:[],
                    arr2:[],
                    info: [{id: "item1-2-1", ischecked: false, ischecked2: false, time: "xxx", info: "第1章第2课时第1笔记"}, {
                        id: "item1-2-2",
                        ischecked: false,
                        ischecked2: false,
                        time: "xxx",
                        info: "第1章第2课时第2笔记"
                    }]
                },

                {
                    ks: 1.3,
                    ischecked:false,
                    ischecked2:false,
                    arr:[],
                    arr2:[],
                    info: [{id: "item1-3-1", ischecked: false, ischecked2: false, time: "xxx", info: "第1章第3课时第1笔记"}, {
                        id: "item1-3-2",
                        ischecked: false,
                        ischecked2: false,
                        time: "xxx",
                        info: "第1章第3课时第2笔记"
                    }]
                },
                {
                    ks: 1.4,
                    ischecked:false,
                    ischecked2:false,
                    arr:[],
                    arr2:[],
                    info: [{id: "item1-3-1", ischecked: false, ischecked2: false, time: "xxx", info: "第1章第3课时第1笔记"}, {
                        id: "item1-3-2",
                        ischecked: false,
                        ischecked2: false,
                        time: "xxx",
                        info: "第1章第3课时第2笔记"
                    },{id: "item1-3-1", ischecked: false, ischecked2: false, time: "xxx", info: "第1章第3课时第1笔记"}]
                }
            ]
            },

            {
                ischecked:false,
                ischecked2:false,
                totalItem:0,
                it:0,
                linshilen:0,
                arr:[],
                arr2:[],
                arr3:[],
                zj: 2, zjitem: [
                {
                    ks: 2.1,
                    ischecked:false,
                    ischecked2:false,
                    arr:[],
                    arr2:[],
                    info: [{id: "item2-1-1", ischecked: false, ischecked2: false, time: "xxx", info: "第2章第1课时第1笔记"}, {
                        id: "item2-1-2",
                        ischecked: false,
                        ischecked2: false,
                        time: "xxx",
                        info: "第2章第1第2笔记"
                    }]
                },
                {
                    ks: 2.2,
                    ischecked:false,
                    ischecked2:false,
                    arr:[],
                    arr2:[],
                    info: [{id: "item2-2-1", ischecked: false, ischecked2: false, time: "xxx", info: "第2章第2课时第1笔记"}, {
                        id: "item2-2-2",
                        ischecked: false,
                        ischecked2: false,
                        time: "xxx",
                        info: "第2章第2课时第2笔记"
                    }]
                },
                {
                    ks: 2.3,
                    ischecked:false,
                    ischecked2:false,
                    arr:[],
                    arr2:[],
                    info: [{id: "item2-3-1", ischecked: false, ischecked2: false, time: "xxx", info: "第2章第3课时第1笔记"}, {
                        id: "item2-3-2",
                        ischecked: false,
                        ischecked2: false,
                        time: "xxx",
                        info: "第2章第3课时第2笔记"
                    }]
                }
            ]
            },

            {
                ischecked:false,
                ischecked2:false,
                totalItem:0,
                it:0,
                linshilen:0,
                arr:[],
                arr2:[],
                arr3:[],
                zj: 3, zjitem: [
                {
                    ks: 3.1,
                    ischecked:false,
                    ischecked2:false,
                    arr:[],
                    arr2:[],
                    info: [{id: "item3-1-1", ischecked: false, ischecked2: false, time: "xxx", info: "第3章第1课时第1笔记"}, {
                        id: "item3-1-2",
                        ischecked: false,
                        ischecked2: false,
                        time: "xxx",
                        info: "第3章第1第2笔记"
                    }]
                },
                {
                    ks: 3.2,
                    ischecked:false,
                    ischecked2:false,
                    arr:[],
                    arr2:[],
                    info: [{id: "item3-2-1", ischecked: false, ischecked2: false, time: "xxx", info: "第3章第2课时第1笔记"}, {
                        id: "item3-2-2",
                        ischecked: false,
                        ischecked2: false,
                        time: "xxx",
                        info: "第3章第2课时第2笔记"
                    }]
                },
                {
                    ks: 3.3,
                    ischecked:false,
                    ischecked2:false,
                    arr:[],
                    arr2:[],
                    info: [{id: "item3-3-1", ischecked: false, ischecked2: false, time: "xxx", info: "第3章第3课时第1笔记"}, {
                        id: "item3-3-2",
                        ischecked: false,
                        ischecked2: false,
                        time: "xxx",
                        info: "第3章第3课时第2笔记"
                    }]
                }
            ]
            }
        ];
        for(var i=0;i<$scope.data.length;i++){ //每个zjitem的总笔记数
            for(j=0;j<$scope.data[i].zjitem.length;j++){
                $scope.data[i].totalItem+=$scope.data[i].zjitem[j].info.length;
            }
        }

        $scope.console = function (item) {
            $timeout(function () {
                console.log(item);
            })

        }
        $scope.delete = function (index,parindex,parsindex,grandItem,subItem,item,data) {
            if(grandItem.ischecked!==true){
                item.arr2.push("a");
                subItem.arr.push("a");
            }
            grandItem.ischecked2=true;
            grandItem.undeleted2=true;
            item.arr3.push("a");
            subItem.arr2.push("a");

            if(subItem.arr2.length==subItem.info.length){
                subItem.ischecked2=true;
            }
            if(subItem.arr.length==subItem.info.length){
                subItem.ischecked=true;
            }

            if(item.arr2.length==item.totalItem){
                item.ischecked=true;
            }
            if(item.arr3.length==item.totalItem){
                item.ischecked2=true;
            }


            /*if(grandItem.ischecked2==true){
                grandItem.undeleted2=true;
            }*/

            if(subItem.ischecked2==true){
                subItem.undeleted2=true;
               // subItem.undeleted=true;
            }

            if(item.ischecked2==true){
                item.undeleted2=true;
               // item.undeleted=true;
            }

            /*if(subItem.ischecked==true){
                subItem.undeleted=true;
            }

            if(item.ischecked==true){
                item.undeleted=true;
            }*/




            console.log(item.arr2.length+"delete");




        }

        $scope.isCheckboxShow = false;//checkbox是否显示



        $scope.checkIt = function (arr, index ,subArr ,parentarr) { //点击checkbox切换true和false
            arr[index].ischecked = !arr[index].ischecked;
            if(arr[index].ischecked==true){
                subArr.arr.push("a");
                parentarr.arr2.push("a");
            }else{
                subArr.arr.splice(0,1);
                parentarr.arr2.splice(0,1);
            }





            if(subArr.arr.length==subArr.info.length){//控制每个子项的孙子满后每个课时打钩
                subArr.ischecked=true;

            }else{
                subArr.ischecked=false;
            }


            //parentarr.linshilen=parentarr.arr2.length<arr.length?1:Math.floor(parentarr.arr2.length/parentarr.it);//此例中最大为3


            if(parentarr.arr2.length==parentarr.totalItem){
                parentarr.ischecked=true;
            }else{
                parentarr.ischecked=false;
            }
            console.log(parentarr.arr2.length+"checkIt");


        }

        $scope.checkSubitem = function (arr, index ,subarr , parentarr) { //点击checkbox切换true和false
            subarr[index].ischecked=!subarr[index].ischecked
            if(subarr[index].ischecked==true){ //防止全选后又取消一个子项全部被删除
                parentarr.arr.push("a");
                if(arr.arr.length==0){
                    for(var i=0;i<arr.info.length;i++){
                        arr.arr.push("a");
                        parentarr.arr2.push("a");
                        //arr.info[i].ischecked=true;
                    }
                }else{
                    for(var i=0;i<arr.info.length-arr.arr.length;i++){//长度是info的长度减去被选中的arr的长度
                        parentarr.arr2.push("a");
                        arr.arr.push("a");
                       // arr.info[i].ischecked=true;
                    }
                }
                for(var i=0;i<arr.info.length;i++){//长度是info的长度减去被选中的arr的长度
                    arr.info[i].ischecked=true;
                }


                //parentarr.linshilen=parentarr.arr2.length<arr.info.length?1:Math.floor(parentarr.arr2.length/parentarr.it);

            }else{
                parentarr.arr.splice(0,1);
                for(var i=0;i<arr.info.length;i++){
                    parentarr.arr2.splice(0,1);
                    arr.arr.splice(0,1);
                    arr.info[i].ischecked=false;
                }
            }



            if(parentarr.arr2.length==parentarr.totalItem){
                parentarr.ischecked=true;
            }else{
                parentarr.ischecked=false;
            }
            console.log(parentarr.arr2.length+"checkSub");



        }
        $scope.checkItem=function(arr,index,data,parentarr){
            data[index].ischecked=!data[index].ischecked;
            if(data[index].ischecked==true){

                var checkedItem=0;
                for(var k=0;k<arr.zjitem.length;k++){
                    arr.zjitem[k].ischecked=true;
                    if(arr.zjitem[k].arr.length==0){
                        for(var i=0;i<arr.totalItem;i++){
                            arr.arr2.length=arr.totalItem;
                        }

                        for(var i=0;i<arr.zjitem.length;i++){
                            arr.arr.length=arr.zjitem.length;
                        }

                        for(var j=0;j<arr.zjitem[k].info.length;j++){
                            arr.zjitem[k].arr.length=arr.zjitem[k].info.length;
                        }

                    }else{
                        checkedItem+=arr.zjitem[k].length;
                        for(var i=0;i<checkedItem;i++){
                            arr.arr2.length=checkedItem;
                        }
                        for(var i=0;i<arr.zjitem.length-arr.arr.length;i++){
                            arr.arr.length=arr.zjitem.length-arr.arr.length;
                        }
                        for(var j=0;j<arr.zjitem[k].info.length-arr.zjitem[k].arr.length;j++){
                            arr.zjitem[k].arr.length=arr.zjitem[k].info.length-arr.zjitem[k].arr.length;
                        }

                    }

                    for(var j=0;j<arr.zjitem[k].info.length;j++){
                        arr.zjitem[k].info[j].ischecked=true;
                    }
                }




            }else{
                for(var k=0;k<arr.zjitem.length;k++){
                    arr.zjitem[k].ischecked=false;
                    arr.zjitem[k].arr.length=0;
                    for(var j=0;j<arr.zjitem[k].info.length;j++){
                        arr.zjitem[k].info[j].ischecked=false;
                    }
                }
                arr.arr2.length=0;
                arr.arr.length=0;


            }

            console.log(arr.arr2.length+"checkItem");


        }
        $scope.ischeckedAll=false;
        $scope.checkAll=function(){
            $scope.ischeckedAll=!$scope.ischeckedAll;
            console.log($scope.ischeckedAll);
            if($scope.ischeckedAll==false){
                angular.forEach($scope.data,function(item){
                    item.arr2.length=0;
                    item.arr3.length=0;
                    item.arr.length=0;
                    item.ischecked=false;
                    angular.forEach(item.zjitem,function(subItem){
                        subItem.arr.length=0;
                        subItem.arr2.length=0;
                        subItem.ischecked=false;
                        angular.forEach(subItem.info,function(grandItem){
                            grandItem.ischecked=false;
                        });
                    });
                });
            }else{
                angular.forEach($scope.data,function(item){
                    item.arr2.length=item.totalItem;
                    item.arr3.length=item.totalItem;
                    item.arr.length=item.zjitem.length;
                    item.ischecked=true;
                    angular.forEach(item.zjitem,function(subItem){
                        subItem.arr.length=subItem.info.length;
                        subItem.arr2.length=subItem.info.length;
                        subItem.ischecked=true;
                        angular.forEach(subItem.info,function(grandItem){
                            grandItem.ischecked=true;
                        });
                    });
                });
            }




        }


        $scope.manyDelete = function () { //批量删除选中的
            angular.forEach($scope.data, function (item) {
                if(item.ischecked==true){//删除章节
                    item.undeleted=true;
                }
                if(item.ischecked2==true){//删除章节
                    item.undeleted2=true;
                }
                //item.arr=[];
                angular.forEach(item.zjitem, function (subItem) {



                    if(subItem.ischecked==true){//删除课时
                        subItem.undeleted=true;
                        item.arr3.length=item.arr2.length;//delete删除时候才不会出错
                    }
                    if(subItem.ischecked2==true){//删除课时
                        subItem.undeleted2=true;

                    }

                    //subItem.arr=[];
                    angular.forEach(subItem.info, function (grandItem) {
                            if (grandItem.ischecked==true) {//单个删除
                                grandItem.undeleted=true;
                                subItem.arr2.length=subItem.arr.length;//delete删除时候才不会出错
                            }
                            if (grandItem.ischecked2==true) {//单个删除
                                grandItem.undeleted2=true;
                            }



                    })
                })
            });
            //console.log($scope.data);

//
        }
    });


    app.directive("editdiv", function () { //toggle编辑状态  可编辑/不可编辑
        return {
            restrict: "A",
            link: function (scope, ele, attr) {
                var edit = $(ele);
                var mark = true;
                edit.find(".edit").click(function () {
                    var par = $(this).parent();
                    //var index=par.index();
                    var isTrue = par.find("textarea").attr("readonly");
                    if (mark) {
                        $(this).html("取消编辑");
                        if (isTrue) {
                            par.find("textarea").removeAttr("readonly").focus();
                            //alert(1);
                        }
                        mark = false;
                    } else {
                        $(this).html("编辑");
                        if (!isTrue) {
                            par.find("textarea").attr("readonly", "readonly").blur();
                        }

                        mark = true;
                    }

                });
            }
        }
    });


    /*app.directive("manydelete",function(){ //toggle编辑状态  可编辑/不可编辑
     return {
     restrict:"A",
     link:function(scope,ele,attr){
     $(".many-del").click(function(){
     var deleteLi=$(ele).find(".item-list").find("li");
     var deleteErziUl=$(ele).find(".item-list");
     var deleteZj=$(ele).find(".ks-ul");
     deleteLi.each(function(){
     if($(this).attr("ischeck")=='true'){
     $(this).remove();
     }
     });
     deleteErziUl.each(function(){ //length为0时连带课时也删除
     if($(this).children().length==0){
     $(this).parents(".parentitem").remove();
     }
     });

     deleteZj.each(function(){//length为0时连带章节也删除
     if($(this).children().length==0){
     $(this).parents(".item-zj").remove();
     }
     });


     });
     }
     }
     });*/

</script>
</body>
</html>