ul,li{list-style-type:none;}
html{width:100%; height:100%;}
*{margin:0;padding:0;}
.clear{clear:both;_zoom:1;}
.clear:after,.clear:before{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
body{overflow-x:hidden;}
ul{-webkit-padding-start: 0px;}
.main-header{height:65px; line-height:65px; background:#0eabee; padding:0px;}
.changeClass{display:inline-block; width:44px; height:44px; background:#43c2f9; color:#fff; border-radius:22px;
             font-size:13px; text-align:center; line-height:44px;}
.main-header-tit{text-align:center; color:#fff; font-size:20px;}
.collapse-btn{display:inline-block; width:28px; height:22px; background:url(../images/collapseBtn.jpg) no-repeat;
             float:right; margin-top:20px;}


.box{padding:10px 30px 30px 30px;}
.main-progress{background:#fff;}
.com-tit{height:65px; line-height:65px;}
.com-tit h3{font-size:22px; font-weight:bold;}
.com-tit a{background:#0eabee; color:#fff; margin-top:15px;}
.main-progress{}
.main-progress-ul{
    margin-top:15px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
}
.main-progress-ul li{width:112px; height:112px; border:5px solid #ccc; border-radius:56px; text-align:center;}
.main-progress-ul li span{margin-top:20px; display:inline-block; color:#5ec7f6; font-weight:bold; font-size:22px;}
.main-progress-ul li p{font-weight:bold;}

.study a{padding-left:25px; padding-right:25px;}

.menu-progress{display:inline-block; text-align:center; line-height:16px; position:relative; width:58px; height:16px; background:#d9e3e4; border-radius:6px;}
.menu-progress-bar{position:absolute; background:#7ed6fa; border-radius:6px; height:100%; left:0; top:0;}
.main-menu-list{}
.main-menu-list li{position:relative; padding:20px 1.5%; border-bottom:1px solid #ddd;}
.main-menu-list li i{top:23px; right:1.5%; position:absolute; display:inline-block; width:8px; height:12px; background:url(../images/menu-icon.jpg) no-repeat;}

.main-footer{background:#eee; padding:0px 2%;}
.main-footer-list{
    padding:10px 0px 0px 0px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
}
.main-footer-list li{font-size:20px;}
.main-footer-list li i{display:inline-block; width:37px; height:39px; background:url(../images/footer-icon.jpg) no-repeat;}
.main-footer-list li span{vertical-align:10px;}


@media (max-width: 490px){ /*手机端*/
    .main-progress-ul li{width:80px; height:80px; border:3px solid #ccc; border-radius:40px;}
    .main-progress-ul li span{margin-top:15px; color:#5ec7f6; }
    .main-progress-ul li p{font-size:13px;}

    .main-menu-list li a{font-size:13px;}
    .main-header-tit{text-align:center; color:#fff; font-size:14px;}
}
@media (max-width: 369px){
    .main-header-tit{text-align:center; color:#fff; font-size:12px;}
    .main-footer-list li span{font-size:14px;}
}