/*------reset------*/
html{width:100%; height:100%;}
body{line-height:1.5em; color:#333; font-family:"Microsoft Yahei"; font-size:14px;}
input,textarea,select{font-size:100%; font-family:inherit;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{margin:0;}
ul,ol{padding-left:0; list-style-type:none;}
img{border:0; padding:0;}
table{border-collapse:collapse; border-spacing:0;}
table th,tabel td{vertical-align:middle; text-align:center;}
h1,h2,h3,h4,h5,h6{font-size:100%; text-align:left; font-weight:normal;}
h1{font-size:24px;}
h2{font-size:22px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size:12px;}
a{color:#808080; text-decoration:none;}
i{font-style:normal;}
/*------form------*/
select{border:1px solid #dcdcdc; color:#777;font-size:14px; outline:none; height:35px;}
input{outline:none; border:none; padding:0;}
textarea{line-height:20px; color:#999; overflow:auto;}
/*------clear float------*/
.clear{clear:both;_zoom:1;}
.clear:after,.clear:before{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
/*------checkbox and radio align------*/
.cr{*width:13px; *height:13px; vertical-align:-2px; *vertical-align:1px; _vertical-align:0; margin-right:5px;}
/*------hidden------*/
.hide{display:none !important;}
/*------box------*/
.wrap{width:100%;}
.wrap-full{width:1000px; margin:0 auto;}

.column{border:1px solid #ddd;}
.column-tit{font-size:18px; color:#cc0606; text-indent:10px; height:39px; background:url(../html/images/zhenzhou/column-tit-bg.jpg); border-bottom:1px solid #ddd; line-height:39px;}
.column h4 a{font-size:13px; color:#000; margin-right:10px;}
/*------radius------*/
.radius8{border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px;}
.radius5{border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.radius13{border-radius:13px; -webkit-border-radius:13px; -moz-border-radius:13px;}
/*------opacity------*/
.opacity{opacity:0.6;}
/*------layout------*/
.fl{float:left;}
.fr{float:right;}
.rel{position:relative;}
.abs{position:absolute;}
.auto{margin:0 auto;}
.overflow{overflow:hidden;}
.block{display:block;}
.inline-block{display:inline-block;}
.align-center{text-align:center;}
.pt18{padding-top:18px;}
.pb60{padding-bottom:60px;}
.mt5{margin-top:5px;}
.mt3{margin-top:3px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt60{margin-top:60px;}
.ml-1{margin-left:13px;}
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}
.ml10{margin-left:10px;}
.ml190{margin-left:190px;}
.ml25{margin-left:25px;}
.ml-36{margin-left:36px;}
.margin-left225{margin-left:225px;}
.mb10{margin-bottom:20px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.ml20{margin-left:20px;}
.ml26{margin-left:26px;}
.padding5{padding:5px;}
.padding16{padding:16px 18px 0px 18px;}
.height320{height:320px;}
.height220{height:220px;}
.width480{width:480px;}
.width85{width:85px;}
.width94{width:94px;}
.width696{width:696px;}
.register-list .height37{height:37px; background:#c4c4c4;}
.txt-red{color:#c20505;}
.txt-red2{color:#f12d00;}
.register-padding{padding:50px 145px 0px 145px;}
.font-size24{font-size:24px;}
.font-size12{font-size:12px;}
.text-indent2em{text-indent:2em;}
/*------min-height and width------*/
.min-height800{min-height:800px;}
.min-height250{min-height:250px;}
.min-width690{min-width:690px;}
/*------icon------*/
.icon1{background:url(../html/images/zhenzhou/icon-1.png) no-repeat;}
/*------banner------*/
.banner{height:200px; background:url(../html/images/zhenzhou/banner.jpg) no-repeat center; border-bottom:5px solid #cc0606;}
.collect{background:#cc0606; color:#fff; padding:2px 9px; right:10px; top:10px;}
.collect a{color:#fff;}
/*------nav------*/
.nav{height:46px; background:url(../html/images/zhenzhou/nav-bg.jpg);}
.nav-main{}
.nav-list{}
.nav-list li{float:left;}
.nav-list li a{font-size:16px; display:inline-block; color:#000; padding:0px 15px; height:46px; line-height:46px;}
.date{width:218px; height:35px; background:url(../html/images/zhenzhou/date-bg.png) no-repeat; font-size:12px; text-indent:1.2em; line-height:27px; right:15px; top:9px;}
/*------login------*/
.login{width:270px;}
.login-list{}
.login-list li{border:1px solid #ddd; width:230px; height:32px; padding:2px 0px; margin-bottom:15px;}
.login-list .width114{width:114px;}
.login-list .padding0{padding:0; text-indent:0.5em;}
.text{color:#bbb; height:30px;}
.text1{border-left:1px solid #ddd; padding:0px 10px;}
.text2{padding:0px 10px;}
.login-list i{width:25px; height:26px; top:7px; left:7px;}
.icon1-2{background-position:-34px 0px;}
.login-list .yzm-li{height:40px; border:none;}
.yzm-li input{border:1px solid #ddd; width:110px; height:38px; color:#bbb; padding-left:5px;}
.yzm{width:100px; height:40px; background:#ddd; text-align:center; line-height:40px; color:#fff; font-size:18px;}
.login-btn{width:115px; height:40px; color:#fff; background:#c20505; font-size:16px; text-align:center; line-height:40px;}
.login-btn-2{background:#b0b0b0;}
.login-btn-3{background:#f16000;}
.zc-a{font-size:16px;}
.dl-a{font-size:12px;}
.find-pw{font-size:12px;}
.find-pw a{text-decoration:underline;}
/*------list------*/
.column-list a,.column-list span{color:#000;}
.column-list{width:328px;}
.column-list li{margin-bottom:9px;}
.xjp-pic{width:330px; height:260px;}

.news-list{width:480px;}

.flink-list{padding:7px 7px 0px 7px;}
.flink-list li{float:left; margin-right:15px;}
.flink-list li.last{margin-right:0px;}

.register-list li{margin-bottom:15px;}
.register-list input{border:1px solid #ddd; height:35px; width:230px;}
.register-list .width120{width:120px;}
.register-list span{display:inline-block; width:215px; text-align:right;}
/*------training-process------*/
.training-process{height:185px; background:#f7f7f7;}
.training-process-tit{background:url(../html/images/zhenzhou/process-line.png) no-repeat 0px 28px; text-align:center; font-size:18px; color:#ca4343;}
.training-process-list{}
.training-process-list li{margin-right:8px; float:left; width:158px; height:88px; border:1px solid #bbb; background:url(../html/images/zhenzhou/process-libg.png);}
.training-process-list li.last{margin-right:0;}
.training-process-list li.process-hover{background:#fff; border:1px solid #c20505;}
.pro-pic{width:65px; height:65px; margin:10px 0px 0px 10px;}
.pro-pic1{background-position:1px -35px;}
.pro-pic2{background-position:-79px -35px;}
.pro-pic3{background-position:-160px -35px;}
.pro-pic4{background-position:-240px -35px;}
.pro-pic5{background-position:-320px -35px;}
.pro-pic6{background-position:0px -115px;}
.pro-txt{color:#6e6e6e; margin:20px 0px 0px 10px;}
.pro-txt i{font-style:italic; font-size:36px;}
.pro-txt span{font-size:16px;}
/*------xsyz------*/
.xsyz{width:270px;}
.xsyz input{width:213px; height:40px; border:1px solid #ddd; padding:0px 8px; color:#bbb;}
.xsyz-bg{background:url(../html/images/zhenzhou/xsyz-bg.png) no-repeat 0px 140px;}
/*------newcourse------*/
.newcourse-list{margin:5px 0px 0px 18px;}
.newcourse-list li{width:144px; height:144px; float:left; margin-right:15px; overflow:hidden;}
.course-txt{height:83px; width:118px;font-size:12px;  padding:5px 13px; bottom:-63px; left:0px;}
.course-txt-hover{bottom:0px;}
.course-txt p{color:#fff;}
.zhao{left:0px; top:0px; background:#000; width:118px; height:83px;padding:5px 13px;}
.p-box a{display:inline-block; padding:1px 10px; background:#c20505; color:#fff;}
.pre,.next{width:27px; height:56px; cursor:pointer;}
.pre{background-position:-110px -122px; left:-5px; top:62px;}
.next{background-position:-175px -122px; right:-5px; top:64px;}
/*------footer------*/
.footer{border-top:5px solid #c20505;}
.footer-line{border-top:1px solid #c20505; margin-top:2px;}
.footer-main{text-align:center; padding:30px 0px 90px 0px; font-size:12px;}
/*------position-nav------*/
.position-nav{font-size:12px;}
/*------register------*/
.steps{height:65px;}
.steps span{display:inline-block; position:relative;}
.steps-line{height:10px; background:#ddd; width:100%; top:25px; left:0px;}
.steps-txt{z-index:2;}
.steps i{display:block; width:25px; height:25px; background:#ddd; margin:9px auto 0px;}
.steps i.steps-hover{background:#cc0606;}
.steps span{font-size:18px; color:#cc0606;}
.steps span.sp1{}
.steps span.sp2{margin-left:220px;}
.steps span.sp3{margin-left:240px;}

.register-tit-box{border-bottom:3px solid #cc0606; padding-bottom:5px;}
.register-tit{font-size:18px; font-weight:bold;}
.register-txt{font-size:12px;}
.register-txt a{display:inline-block; color:#fff; background:#dd4f4f; padding:3px 9px;}

.register-warn{border:1px solid #ccc; background:#e3e3e3; width:513px; color:#cc0606; font-size:12px; padding:7px 11px 9px 11px;}

.complete-register{width:483px; height:223px; border:1px solid #ccc; background:#f7f7f7; padding-left:132px; margin:20px auto 0px;}
.complete-txt{font-size:18px;}
.right{top:37px; left:60px; width:59px; height:60px; background:url(../html/images/zhenzhou/right.jpg) no-repeat;}

/*------table------*/
.table{font-size:12px;}
.table tr,.table td,.table th{border:1px solid #ddd; padding:8px 0px; text-align:center;}
.table th{background:#f6f6f6;}
.op a{color:#36a2e0;}
.op a:hover{text-decoration:underline;}
/*------studyTimeYz------*/
.null-info{border-top:1px dashed #bbb;}
.null-info-tit{font-size:16px;}
.null-info-descri{font-size:12px;}
/*------courge-detail------*/
.detail-con{width:565px; color:#666;}
.detail-con-tit{font-size:18px;}
.detail-con span{font-weight:bold;}
.detail-list li{margin-bottom:10px;}
/*------second-page------*/
.second-page-padding{padding:18px 20px 18px 14px;}
.second-page-list{}
.second-page-list li{padding-bottom:18px; border-bottom:1px dashed #ddd; margin-bottom:20px;}
.second-page-list span{color:#111;}
.second-page-list p{padding-left:1em; text-indent:2em; color:#666;}
.second-page-tit-a{color:#000; font-weight:bold; font-size:15px;}
.second-page a{margin-right:20px;}
/*------third-page------*/
.third-page-txt{font-size:12px; color:#999;}
.third-page-con{padding-top:30px; border-top:2px solid #ccc; font-size:15px;}
.p2{line-height:1.7em;}
/*------courge-classify------*/
.classify-padding{padding:15px 32px 54px 23px;}
.classify-sear a{width:85px; background:#cc0606;}
.classify-input{height:40px; border:1px solid #ddd; color:#999; width:282px; padding:0px 9px;}
.classify-top{padding-bottom:10px; border-bottom:1px dashed #eee;}
.classify-con{}
.classify-nav-list{width:200px; background:#f4f4f4;}
.classify-nav-list li{padding:0px 25px 0px 20px;}
.classify-nav-list li.classify-hover{background:#cc0606;}
.classify-nav-list li.classify-hover a{color:#fff;}
.classify-nav-list a{display:inline-block; width:155px; height:45px; line-height:45px; text-align:center; color:#5a5a5a; border-bottom:1px dashed #d9d9d9; font-size:16px;}
.classify-nav-list a.classify-a-hover{border:1px solid #cc0606; background:#fff;}
.classify-hide-menu{display:none; padding:6px 36px 19px 36px; width:413px; height:165px; border:1px solid #cc0606; background:#fff; top:0px; left:199px;}
.classify-hide-menu span{background:#fff; width:25px; height:45px; border-top:1px solid #cc0606; border-bottom:1px solid #cc0606; top:-1px; left:-25px;}
.classify-hide-menu p a{font-size:14px; border:none; display:inline; height:auto; line-height:2.3em;}

.courgeshow-con{width:570px;}
.courgeshow-con p{color:#666; margin-bottom:13px;}
.courgeshow-tit{font-size:18px;}
.courgeshow-con .login-btn{bottom:0px; right:0px;}
.courgeshow-list li{padding-bottom:13px; border-bottom:1px dashed #ddd; margin-top:15px;}
/*------help------*/
.help-nav{width:205px; height:300px; background:#f4f4f4;}
.help-nav-list li{display:inline-block; padding-bottom:4px; border-bottom:1px dashed #ddd; margin:10px 0px 0px 15px;}
.help-nav-list .help-li-hover a{background:#fff; border:1px solid #e8e8e8; color:#cc0606;}
.help-nav-list .help-li-hover a span{height:60px; width:22px; background:#fff; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; right:-14px; top:-1px;}
.help-nav a{display:inline-block; width:115px; height:60px; font-size:16px; position:relative; line-height:60px; padding-left:60px;}
.help-nav a.help-hover{background:#ebebeb;}
.help-nav a i{display:block; width:37px; height:37px; background:url(../html/images/zhenzhou/icon-1.png) no-repeat; position:absolute; top:11px; left:13px;}
.help-nav a .ico1{background-position:2px -193px;}
.help-nav a .ico2{background-position:-47px -193px;}
.help-nav a .ico3{background-position:-94px -193px;}
.help-nav a .ico4{background-position:-143px -193px;}

.help-con{width:730px;}
.help-con h4{font-size:18px; padding-bottom:20px; border-bottom:1px solid #ddd;}
.help-con-list{width:730px; font-size:15px;}
.help-con-list li{padding-bottom:10px; border-bottom:1px dashed #eee;}

/*------baoming------*/
.sel-box{height:100px;}
.sel-box .num{height:100%; width:103px; text-align:center; font-size:72px; color:#fff; background:#e8ccb9; line-height:100px;}
.sel-box .num2{background:#b5cfde;}
.sel-txt{width:555px; height:100%; background:#f6ece5; line-height:100px; padding-left:40px;}
.sel-txt2{background:#e1edf4;}
.sel-txt span{color:#333; font-size:24px;}
.sel-txt select{width:220px; height:32px; margin-left:88px;}
.baoming-btn{width:53px; height:19px; background:#fe9829; color:#fff;}
