<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
</head>
<body>
<%=content%>

<%
    for(var i=0;i<arr.length;i++){

    %>

        <%=arr[i]%>

    <%

    }

%>

</body>
</html>