.btn {
  text-align: center;
  color: #fff;
}
.btn-1 {
  width: 80px;
  height: 31px;
  background: red;
}
.part1 {
  width: 100%;
  height: 257px;
}
.login {
  width: 237px;
  height: 257px;
  border: 1px solid #ddd;
  float: left;
  background: #f9f9f9;
}
.tz {
  width: 533px;
  height: 257px;
  border: 1px solid #ddd;
  float: left;
  margin: 0px 10px;
}
.kf {
  height: 257px;
  width: 191px;
  border: 1px solid #ddd;
  float: right;
}
.process {
  width: 972px;
  height: 82px;
  background: #cfe2ec;
  margin: 9px auto;
  padding: 11px 0px 0px 16px;
  position: relative;
}
.pro-tit {
  width: 903px;
  height: 40px;
  background: url(../../html/images/wujia/process-pic.png) no-repeat;
  font-size: 18px;
  color: #555;
  text-indent: 28px;
  line-height: 32px;
}
.part2 {
  width: 100%;
  height: 295px;
  margin: 0px auto;
}
.course {
  border: 1px solid #ddd;
  float: left;
  width: 237px;
  height: 295px;
}
.part2-s {
  height: 295px;
  border: 1px solid #ddd;
  width: 362px;
  float: left;
  margin-left: 10px;
}
.part3 {
  width: 100%;
  height: 220px;
  margin: 10px auto;
}
.zhinan {
  width: 237px;
  height: 220px;
  border: 1px solid #ddd;
  float: left;
}
.part3-s {
  width: 362px;
  height: 220px;
  border: 1px solid #ddd;
  float: left;
  margin-left: 10px;
}
/*培训课程*/
.cou-box {
  padding: 14px 0px 0px 14px;
}
.cou-box .cou-con {
  width: 210px;
  height: 37px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  line-height: 37px;
  background: #eee;
  margin-bottom: 12px;
}
.cou-box .cou-con .sp1 {
  width: 80px;
  height: 100%;
  background: #bdd6e2;
  text-align: center;
  color: #fff;
  font-size: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.cou-box .cou-con .sp2 {
  font-size: 16px;
  color: #a5a5a5;
  margin-right: 17px;
  height: 37px;
  float: right;
}
.ipt-box {
  margin: 12px 0px 0px 17px;
}
.ipt-box .find-pw {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}
.ipt-box-1 {
  margin-top: 30px;
}
.ipt-box-2 {
  margin-left: 62px;
}
.ipt-txt {
  color: #777;
}
.ipt-txt-1 {
  width: 43px;
  height: 31px;
  line-height: 31px;
  font-size: 12px;
}
.ipt {
  padding: 0;
  border: none;
  border: 1px solid #ddd;
}
.ipt-1 {
  width: 152px;
  height: 31px;
}
.ipt-2 {
  width: 82px;
  height: 31px;
}
.yzm {
  height: 35px;
  width: 61px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  line-height: 31px;
  background: #45a6e8;
  border: 1px solid #ddd;
  color: #fff;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-r {
  text-align: right;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  overflow: hidden;
  _zoom: 1;
}
.hide {
  display: none;
}
.v-hidden {
  visibility: hidden;
}
input:focus {
  outline: 0;
}
a {
  text-decoration: none;
  color: #aaa;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.block {
  display: block;
}
.in-block {
  display: inline-block;
}
.auto {
  margin: 0px auto;
}
.bor-d {
  border: 1px solid #ddd;
}
.height-1 {
  height: 257px;
}
.height-2 {
  height: 295px;
}
.height-3 {
  height: 220px;
}
.width-1 {
  width: 237px;
}
.width-2 {
  width: 533px;
}
.width-3 {
  width: 362px;
}
/***********top**************/
.top {
  width: 100%;
  height: 30px;
  background: #ededed;
}
.top .top-main {
  width: 1000px;
  height: 30px;
  margin: 0px auto;
  font-size: 12px;
}
.top .top-main span {
  height: 30px;
  line-height: 30px;
  width: 265px;
  float: left;
}
.top .top-main .top-a {
  width: 135px;
  height: 30px;
  float: right;
  line-height: 30px;
}
.top .top-main .top-a a {
  margin-left: 6px;
}
/***********banner**************/
.banner {
  width: 1000px;
  height: 193px;
  margin: 0px auto;
}
/***********nav**************/
.nav {
  width: 1000px;
  height: 37px;
  margin: 0px auto;
  background: url(../../html/images/wujia/nav-bg.jpg);
}
.nav li {
  float: left;
}
.nav li a {
  color: #fff;
  padding: 0px 27px;
  display: inline-block;
  height: 37px;
  line-height: 37px;
}
.nav li a:hover {
  background: #1a7fc9;
}
/***********公共内容区**************/
.common-con {
  width: 988px;
  height: 1000px;
  margin: 0px auto;
  padding: 6px;
  background: #fff;
}
/***********友情链接**************/
.f-link {
  width: 1000px;
  height: 45px;
  background: #f0f0f0;
  margin: 0px auto;
  line-height: 45px;
}
.f-link span {
  float: left;
  font-size: 18px;
  margin-left: 15px;
}
.f-link-list {
  float: right;
  margin-right: 15px;
}
.f-link-list li {
  float: left;
}
.f-link-list li a {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0px 23px;
  color: #777;
}
/***********底部版权**************/
.footer {
  width: 1000px;
  height: 50px;
  padding-bottom: 200px;
  margin: 20px auto;
  text-align: center;
}
.footer a {
  color: #407791;
  font-size: 12px;
}
.footer span {
  color: #70a4bd;
  font-size: 12px;
  display: inline-block;
}
.tit {
  width: 100%;
  height: 32px;
  color: #fff;
  line-height: 32px;
  text-indent: 15px;
}
.more {
  float: right;
  font-size: 12px;
  margin-right: 1.3em;
}
/***********全蓝标题头**************/
.tit1 {
  background: #54afee;
}
/***********半蓝标题头**************/
.tit2 {
  width: 100%;
  height: 32px;
  background: url(../../html/images/wujia/tit-bg.png) no-repeat;
  background-color: #f0f0f0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  _background-image: url(about:blank);
  _background-attachment: fixed;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft Yahei";
  background-color: #a1cce1;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-all;
}
input,
textarea,
button {
  font-size: 14px;
  color: #666;
}
input,
button,
select,
textarea,
a {
  outline: none;
  font-family: "Microsoft Yahei";
}
textarea {
  resize: none;
}
img {
  border: none;
}
input,
select,
img,
button {
  vertical-align: middle;
  padding: 0;
  border: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
button,
label {
  cursor: pointer;
  display: inline-block;
}
ul,
ol,
li,
dl,
dt,
dd {
  list-style-type: none;
}
span {
  display: inline-block;
}
table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}
.table-1 {
  width: 688px;
}
.table-1 td {
  padding-bottom: 10px;
}
.table-1 .l-td {
  width: 180px;
  text-align: right;
  font-weight: bold;
}
.table-1 .td-1 {
  text-indent: 2em;
}
.table-2 .td-1 {
  width: 20px;
}
.table-3,
.table-4,
.table-5 {
  width: 100%;
}
.table-3 th,
.table-4 th,
.table-5 th {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.table-3 td,
.table-4 td,
.table-5 td {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
}
.table-3 .td-p,
.table-4 .td-p,
.table-5 .td-p {
  padding: 10px 5px;
}
.table-3 .first,
.table-4 .first,
.table-5 .first {
  border-left: 1px solid #d9d9d9;
}
.table-3 .last,
.table-4 .last,
.table-5 .last {
  border-right: 1px solid #d9d9d9;
}
.table-3 .c-box,
.table-4 .c-box,
.table-5 .c-box {
  width: 12px;
  border-right: 0;
  padding: 0;
}
.table-3 .c-name,
.table-4 .c-name,
.table-5 .c-name {
  text-align: left;
  vertical-align: middle;
}
.table-3 .other-info,
.table-4 .other-info,
.table-5 .other-info {
  width: 110px;
  text-align: center;
}
.table-3 .other-info-1,
.table-4 .other-info-1,
.table-5 .other-info-1 {
  width: 95px;
  text-align: center;
}
.table-3 .other-info-2,
.table-4 .other-info-2,
.table-5 .other-info-2 {
  width: 90px;
  text-align: center;
}
.table-3 .other-info-3,
.table-4 .other-info-3,
.table-5 .other-info-3 {
  width: 70px;
  text-align: center;
}
.table-3 .other-info-4,
.table-4 .other-info-4,
.table-5 .other-info-4 {
  width: 150px;
  text-align: center;
}
.table-3 .other-info-5,
.table-4 .other-info-5,
.table-5 .other-info-5 {
  width: 260px;
  text-align: left;
}
.table-3 .other-info-6,
.table-4 .other-info-6,
.table-5 .other-info-6 {
  width: 180px;
  text-align: left;
}
.table-3 .other-info-7,
.table-4 .other-info-7,
.table-5 .other-info-7 {
  width: 45px;
}
.table-3 .other-info-8,
.table-4 .other-info-8,
.table-5 .other-info-8 {
  width: 140px;
}
.table-3 .other-info-9,
.table-4 .other-info-9,
.table-5 .other-info-9 {
  width: 410px;
}
.table-3 .other-info-p,
.table-4 .other-info-p,
.table-5 .other-info-p {
  width: 6%;
}
.table-3 .other-info-p1,
.table-4 .other-info-p1,
.table-5 .other-info-p1 {
  width: 8%;
}
.table-3 .other-info-p2,
.table-4 .other-info-p2,
.table-5 .other-info-p2 {
  width: 10%;
}
.table-3 .other-info-p3,
.table-4 .other-info-p3,
.table-5 .other-info-p3 {
  width: 12%;
}
.table-3 .other-info-p4,
.table-4 .other-info-p4,
.table-5 .other-info-p4 {
  width: 20%;
}
.table-3 .other-info-p5,
.table-4 .other-info-p5,
.table-5 .other-info-p5 {
  width: 16%;
}
.table-3 .col-name,
.table-4 .col-name,
.table-5 .col-name,
.table-3 .col-name-1,
.table-4 .col-name-1,
.table-5 .col-name-1 {
  background-color: #ddd;
}
.table-3 .col-name-1,
.table-4 .col-name-1,
.table-5 .col-name-1 {
  font-size: 12px;
}
.table-3 .emt-row td,
.table-4 .emt-row td,
.table-5 .emt-row td {
  height: 15px;
  padding: 0;
  background-color: #f2f2f2;
  border: 0;
}
.table-3 .order-hd,
.table-4 .order-hd,
.table-5 .order-hd {
  text-align: left;
  border: 1px solid #e2e2e2;
  background-color: #e8e8e8;
}
.table-3 .order-hd span,
.table-4 .order-hd span,
.table-5 .order-hd span {
  padding: 0 10px 0 40px;
}
.table-3 .information,
.table-4 .information,
.table-5 .information {
  text-align: left;
  vertical-align: top;
}
.table-3 .information .t-img,
.table-4 .information .t-img,
.table-5 .information .t-img {
  margin-right: 10px;
}
.table-3 .information .t-img img,
.table-4 .information .t-img img,
.table-5 .information .t-img img {
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
}
.table-3 .information .t-img img:hover,
.table-4 .information .t-img img:hover,
.table-5 .information .t-img img:hover {
  border-color: #ccc;
}
.table-3 .information .t-cont,
.table-4 .information .t-cont,
.table-5 .information .t-cont,
.table-3 .information .t-cont-1,
.table-4 .information .t-cont-1,
.table-5 .information .t-cont-1 {
  width: 325px;
  height: 70px;
  padding: 5px 0;
}
.table-3 .information .t-cont a,
.table-4 .information .t-cont a,
.table-5 .information .t-cont a,
.table-3 .information .t-cont-1 a,
.table-4 .information .t-cont-1 a,
.table-5 .information .t-cont-1 a {
  height: 53px;
  overflow: hidden;
  color: #333;
}
.table-3 .information .t-cont a:hover,
.table-4 .information .t-cont a:hover,
.table-5 .information .t-cont a:hover,
.table-3 .information .t-cont-1 a:hover,
.table-4 .information .t-cont-1 a:hover,
.table-5 .information .t-cont-1 a:hover {
  color: #389ed8;
}
.table-3 .information .t-cont .time,
.table-4 .information .t-cont .time,
.table-5 .information .t-cont .time,
.table-3 .information .t-cont-1 .time,
.table-4 .information .t-cont-1 .time,
.table-5 .information .t-cont-1 .time {
  color: #999;
}
.table-3 .information .t-cont-1,
.table-4 .information .t-cont-1,
.table-5 .information .t-cont-1 {
  width: 70%;
}
.table-3 .information-1,
.table-4 .information-1,
.table-5 .information-1,
.table-3 .information-2,
.table-4 .information-2,
.table-5 .information-2,
.table-3 .information-3,
.table-4 .information-3,
.table-5 .information-3,
.table-3 .information-4,
.table-4 .information-4,
.table-5 .information-4 {
  width: 190px;
  text-align: left;
  vertical-align: middle;
  padding: 20px 10px;
}
.table-3 .information-1 .t-cont a,
.table-4 .information-1 .t-cont a,
.table-5 .information-1 .t-cont a,
.table-3 .information-2 .t-cont a,
.table-4 .information-2 .t-cont a,
.table-5 .information-2 .t-cont a,
.table-3 .information-3 .t-cont a,
.table-4 .information-3 .t-cont a,
.table-5 .information-3 .t-cont a,
.table-3 .information-4 .t-cont a,
.table-4 .information-4 .t-cont a,
.table-5 .information-4 .t-cont a {
  color: #333;
}
.table-3 .information-1 .t-cont a:hover,
.table-4 .information-1 .t-cont a:hover,
.table-5 .information-1 .t-cont a:hover,
.table-3 .information-2 .t-cont a:hover,
.table-4 .information-2 .t-cont a:hover,
.table-5 .information-2 .t-cont a:hover,
.table-3 .information-3 .t-cont a:hover,
.table-4 .information-3 .t-cont a:hover,
.table-5 .information-3 .t-cont a:hover,
.table-3 .information-4 .t-cont a:hover,
.table-4 .information-4 .t-cont a:hover,
.table-5 .information-4 .t-cont a:hover {
  color: #389ed8;
}
.table-3 .information-2,
.table-4 .information-2,
.table-5 .information-2 {
  width: 170px;
}
.table-3 .information-3,
.table-4 .information-3,
.table-5 .information-3 {
  width: 150px;
  padding: 10px;
}
.table-3 .information-4,
.table-4 .information-4,
.table-5 .information-4 {
  padding: 10px;
}
.table-3 .information-4 .t-cont,
.table-4 .information-4 .t-cont,
.table-5 .information-4 .t-cont {
  width: 300px;
}
.table-3 .information-4 .t-cont-1,
.table-4 .information-4 .t-cont-1,
.table-5 .information-4 .t-cont-1 {
  width: 550px;
}
.table-3 .sum,
.table-4 .sum,
.table-5 .sum,
.table-3 .state,
.table-4 .state,
.table-5 .state {
  color: #f00;
}
.table-3 .opera a,
.table-4 .opera a,
.table-5 .opera a {
  line-height: 2.2;
  color: #389ed8;
}
.table-3 .opera a:hover,
.table-4 .opera a:hover,
.table-5 .opera a:hover {
  text-decoration: underline;
}
.table-3 .opera .buy,
.table-4 .opera .buy,
.table-5 .opera .buy {
  padding: 0 10px;
  color: #fff;
  background-color: #389ed8;
}
.table-3 .opera .buy:hover,
.table-4 .opera .buy:hover,
.table-5 .opera .buy:hover {
  background-color: #4bafe7;
  text-decoration: none;
}
.table-3 .s-time,
.table-4 .s-time,
.table-5 .s-time {
  width: 150px;
}
.table-3 .pos-1,
.table-4 .pos-1,
.table-5 .pos-1 {
  top: 2px;
  left: -6px;
}
.table-3 .name,
.table-4 .name,
.table-5 .name {
  position: relative;
}
.table-3 .name a,
.table-4 .name a,
.table-5 .name a {
  color: #389ed8;
}
.table-3 .name .name-hover,
.table-4 .name .name-hover,
.table-5 .name .name-hover,
.table-3 .name .name-hover-1,
.table-4 .name .name-hover-1,
.table-5 .name .name-hover-1 {
  position: absolute;
  z-index: 9999;
  top: 35px;
  left: 76px;
}
.table-3 .name .name-hover-1,
.table-4 .name .name-hover-1,
.table-5 .name .name-hover-1 {
  left: 160px;
}
.table-3 .name .name-detail,
.table-4 .name .name-detail,
.table-5 .name .name-detail,
.table-3 .name .name-detail-1,
.table-4 .name .name-detail-1,
.table-5 .name .name-detail-1 {
  width: 185px;
  padding: 10px 20px;
  text-align: left;
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  background-color: #389ed8;
}
.table-3 .name .name-detail .l-t,
.table-4 .name .name-detail .l-t,
.table-5 .name .name-detail .l-t,
.table-3 .name .name-detail-1 .l-t,
.table-4 .name .name-detail-1 .l-t,
.table-5 .name .name-detail-1 .l-t {
  width: 45px;
  float: left;
}
.table-3 .name .name-detail .r-t,
.table-4 .name .name-detail .r-t,
.table-5 .name .name-detail .r-t,
.table-3 .name .name-detail-1 .r-t,
.table-4 .name .name-detail-1 .r-t,
.table-5 .name .name-detail-1 .r-t {
  width: 140px;
  float: left;
}
.table-3 .name .arrow,
.table-4 .name .arrow,
.table-5 .name .arrow {
  width: 8px;
  height: 14px;
  background: url("../../public/resources/images/arrow_02.png") no-repeat;
  position: absolute;
  top: 10px;
  left: -6px;
}
.table-3 .money td,
.table-4 .money td,
.table-5 .money td {
  font-size: 18px;
  color: #389ed8;
  text-align: right;
}
.table-4 {
  width: 750px;
  margin: 0 auto;
}
.table-5 td {
  border: none;
  border-bottom: 1px solid #e2e2e2;
}
.table-5 .op {
  border-left: 1px solid #e2e2e2;
}
.op-1 .btn-s {
  margin-top: 5px;
}
.op-ico {
  background: url("../../public/resources/images/op_icon.png") no-repeat;
}
.table-6 {
  width: 100%;
}
.table-6 th {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.table-6 td {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
}
.table-6 td a {
  color: #389ed8;
}
.table-6 td a:hover {
  text-decoration: underline;
}
.table-6 .op .btn-s:hover {
  text-decoration: none;
}
.table-6 .first {
  border-left: 1px solid #d9d9d9;
}
.table-6 .last {
  border-right: 1px solid #d9d9d9;
}
.table-6 .other-info {
  width: 110px;
  text-align: center;
}
.table-6 .other-info-1 {
  width: 95px;
  text-align: center;
}
.table-6 .other-info-2 {
  width: 90px;
  text-align: center;
}
.table-6 .other-info-3 {
  width: 70px;
  text-align: center;
}
.table-6 .other-info-4 {
  width: 150px;
  text-align: center;
}
.table-6 .other-info-5 {
  width: 260px;
  text-align: left;
}
.table-6 .other-info-6 {
  width: 180px;
  text-align: left;
}
.table-6 .other-info-7 {
  width: 200px;
}
.table-6 .col-name {
  background-color: #ddd;
}
.table-6 .c-box {
  width: 12px;
  border-right: 0;
  padding: 0;
  padding-left: 10px;
}
.table-6 .icon {
  padding-left: 20px;
  border-right: 0;
}
.table-6 .add-pic a {
  color: #666;
}
.table-6 .add-pic a:hover {
  color: #389ed8;
  text-decoration: none;
}
.table-6 .name {
  text-align: left;
  padding-left: 0;
}
.table-6 .sub-row .crate-sub {
  padding: 4px 10px 4px 20px;
  color: #333;
  border: 1px solid #ddd;
  margin-left: 4px;
  background-color: #f2f2f2;
}
.table-6 .sub-row .crate-sub:hover {
  background-color: #e8e8e8;
  text-decoration: none;
}
.table-6 .ico-1,
.table-6 .ico-2,
.table-6 .ico-3,
.table-6 .ico-4 {
  width: 12px;
  height: 12px;
  margin: 0 8px;
}
.table-6 .ico-1:hover,
.table-6 .ico-2:hover,
.table-6 .ico-3:hover,
.table-6 .ico-4:hover {
  background-position: -100px 0;
}
.table-6 .ico-2 {
  background-position: -25px 0;
}
.table-6 .ico-2:hover {
  background-position: -125px 0;
}
.table-6 .ico-3 {
  background-position: -50px 0;
}
.table-6 .ico-3:hover {
  background-position: -150px 0;
}
.table-6 .ico-4 {
  background-position: -75px 0;
}
.table-6 .ico-4:hover {
  background-position: -175px 0;
}
.table-6 .ico-5 {
  width: 16px;
  height: 16px;
  background-position: -200px 0;
  position: relative;
  top: 3px;
  left: -4px;
}
.table-6 .ico-6,
.table-6 .ico-7 {
  width: 10px;
  height: 10px;
  background-position: -230px 2px;
}
.table-6 .ico-7 {
  background-position: -250px 0;
}
.table-6 .ico-8 {
  width: 14px;
  height: 14px;
  background-position: -270px 0;
}
.table-6 .ico-9 {
  width: 11px;
  height: 11px;
  background-position: -290px 0;
  position: relative;
  top: 1px;
  left: -6px;
}
.table-6 .ico-10 {
  width: 16px;
  height: 16px;
  background-position: -310px 0;
  position: relative;
  top: 4px;
  left: -10px;
}
.sidebar {
  height: 100%;
  background-color: #1d2a33;
  position: fixed;
  top: 0;
  left: -200px;
}
.sidebar .s-icon {
  width: 65px;
  height: 41px;
  position: absolute;
  top: 20px;
  right: -65px;
}
.sidebar .s-cont {
  width: 200px;
}
.sidebar .ul-sidebar {
  font-weight: bold;
}
.sidebar .ul-sidebar li {
  border-bottom: 1px solid #435058;
}
.sidebar .ul-sidebar li a {
  height: 45px;
  line-height: 45px;
  color: #999;
  padding-left: 65px;
  position: relative;
}
.sidebar .ul-sidebar li a .ico {
  width: 28px;
  height: 28px;
  background: url("../../public/resources/images/sidebar_icon.png") no-repeat;
  position: absolute;
  top: 12px;
  left: 30px;
}
.sidebar .ul-sidebar li a .ico-1 {
  background-position: 0 0;
}
.sidebar .ul-sidebar li a .ico-2 {
  background-position: -40px 0;
}
.sidebar .ul-sidebar li a .ico-3 {
  background-position: -80px 0;
}
.sidebar .ul-sidebar li a .ico-4 {
  background-position: -120px 0;
}
.sidebar .ul-sidebar li a .ico-5 {
  background-position: -160px 0;
}
.sidebar .ul-sidebar li a .ico-6 {
  background-position: -200px 0;
}
.sidebar .ul-sidebar li a .ico-7 {
  background-position: -240px 0;
}
.sidebar .ul-sidebar li a .ico-8 {
  background-position: -280px 0;
}
.sidebar .ul-sidebar li a .ico-9 {
  background-position: -320px 0;
}
.sidebar .ul-sidebar li a .ico-10 {
  background-position: -360px 0;
}
.sidebar .ul-sidebar li a .ico-11 {
  background-position: -400px 0;
}
.sidebar .ul-sidebar li a .ico-12 {
  background-position: -440px 0;
}
.sidebar .ul-sidebar li a .ico-13 {
  background-position: -480px 0;
}
.sidebar .ul-sidebar li a .ico-14 {
  background-position: -520px 0;
}
.sidebar .ul-sidebar li a .ico-15 {
  background-position: -560px 0;
}
.sidebar .ul-sidebar li a .ico-16 {
  background-position: -599px 0;
}
.sidebar .ul-sidebar li a .ico-17 {
  background-position: -640px 0;
}
.sidebar .ul-sidebar li a .ico-18 {
  background-position: -680px 0;
}
.sidebar .ul-sidebar li a .ico-19 {
  background-position: -720px 0;
}
.sidebar .ul-sidebar li a .ico-img {
  background: none;
  top: -3px;
  left: 22px;
}
.sidebar .ul-sidebar li a:hover {
  color: #fff;
}
.sidebar .ul-sidebar li a:hover .ico-1 {
  background-position: 0 -40px;
}
.sidebar .ul-sidebar li a:hover .ico-2 {
  background-position: -40px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-3 {
  background-position: -80px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-4 {
  background-position: -120px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-5 {
  background-position: -160px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-6 {
  background-position: -200px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-7 {
  background-position: -240px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-8 {
  background-position: -280px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-9 {
  background-position: -320px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-10 {
  background-position: -360px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-11 {
  background-position: -400px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-12 {
  background-position: -440px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-13 {
  background-position: -480px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-14 {
  background-position: -520px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-15 {
  background-position: -560px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-16 {
  background-position: -599px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-17 {
  background-position: -640px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-18 {
  background-position: -680px -40px;
}
.sidebar .ul-sidebar li a:hover .ico-19 {
  background-position: -720px -40px;
}
.sidebar .ul-sidebar li .current {
  color: #fff;
}
.sidebar .ul-sidebar li .current .ico-1 {
  background-position: 0 -40px;
}
.sidebar .ul-sidebar li .current .ico-2 {
  background-position: -40px -40px;
}
.sidebar .ul-sidebar li .current .ico-3 {
  background-position: -80px -40px;
}
.sidebar .ul-sidebar li .current .ico-4 {
  background-position: -120px -40px;
}
.sidebar .ul-sidebar li .current .ico-5 {
  background-position: -160px -40px;
}
.sidebar .ul-sidebar li .current .ico-6 {
  background-position: -200px -40px;
}
.sidebar .ul-sidebar li .current .ico-7 {
  background-position: -240px -40px;
}
.sidebar .ul-sidebar li .current .ico-8 {
  background-position: -280px -40px;
}
.sidebar .ul-sidebar li .current .ico-9 {
  background-position: -320px -40px;
}
.sidebar .ul-sidebar li .current .ico-10 {
  background-position: -360px -40px;
}
.sidebar .ul-sidebar li .current .ico-11 {
  background-position: -400px -40px;
}
.sidebar .ul-sidebar li .current .ico-12 {
  background-position: -440px -40px;
}
.sidebar .ul-sidebar li .current .ico-13 {
  background-position: -480px -40px;
}
.sidebar .ul-sidebar li .current .ico-14 {
  background-position: -520px -40px;
}
.sidebar .ul-sidebar li .current .ico-15 {
  background-position: -560px -40px;
}
.sidebar .ul-sidebar li .current .ico-16 {
  background-position: -599px -40px;
}
.sidebar .ul-sidebar li .current .ico-17 {
  background-position: -640px -40px;
}
.sidebar .ul-sidebar li .current .ico-18 {
  background-position: -680px -40px;
}
.sidebar .ul-sidebar li .current .ico-19 {
  background-position: -720px -40px;
}
.sidebar .ul-sidebar li .img img {
  width: 37px;
  height: 37px;
}
.sidebar .ul-sidebar li .img-mask {
  width: 37px;
  height: 37px;
  position: absolute;
  top: 0;
  left: 0;
}
/*菜单列表*/
.menu-list {
  font-size: 12px;
  width: 500px;
}
.menu-list li a {
  display: inline-block;
  background: url(../../html/images/wujia/dian.jpg) no-repeat 4px 6px;
  text-indent: 15px;
  color: #666;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 9px;
}
.menu-list li span {
  color: #bbb;
  float: right;
}
.menu-list-1 {
  margin: 8px auto;
}
.menu-list-1 li a {
  width: 377px;
}
.menu-list-2 {
  width: 333px;
  margin: 10px auto;
}
.menu-list-2 li a {
  width: 257px;
}
/*培训流程列表*/
.pro-list {
  position: absolute;
  top: 10px;
  right: -16px;
}
.pro-list li {
  width: 76px;
  height: 73px;
  float: left;
  margin-right: 75px;
}
.pro-list li a {
  font-size: 16px;
  color: #777b7d;
  display: inline-block;
  margin: 7px 0px 0px 5px;
}
.pro-list li span {
  display: block;
  width: 33px;
  height: 33px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background: #a2c6d8;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 33px;
  margin: 0px auto;
}
.pro-list .hover a {
  color: #017ec0;
}
.pro-list .hover span {
  background: #017ec0;
}
