<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="css/tomorrow-night-blue.css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    <style>
        html,body{
            width:100%;height:100%;
        }
        img{width:100%;height:700px;}
    </style>
    <script src="js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<!--<pre><code class="javascript">function aa(){alert(1);}</code></pre>-->
<div class="container-fluid" style="height:100%;">
    <div class="row" style="height:100%;">
        <div class="col-md-2" style="height:100%;">
            <div class="list-group" style="height:100%;border:1px solid #ddd;margin-bottom:0">

            </div>
        </div>
        <div class="col-md-10">
            <div id="content"></div>
        </div>
    </div>
</div>

<script src="js/marked.min.js"></script>
<script src="js/jquery-1.9.1.min.js"></script>

<script>
    $.get('data/menuCode.js').success(function(data){});

    marked.setOptions({
        renderer: new marked.Renderer(),
        gfm: true,
        tables: true,
        breaks: false,
        pedantic: false,
        sanitize: false,
        smartLists: true,
        smartypants: false,
        highlight: function (code) {
            return hljs.highlightAuto(code).value;
        }
    });
    $.get('md/catch.md').success(function(data){
        //console.log(data);
        $('#content').html(marked(data));
        $('code').addClass('hljs');
        $('code').addClass('javascript');
    });

</script>
</body>
</html>