<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="css/tomorrow-night-blue.css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    <style>
        html,body{
            width:100%;height:100%;
        }
        img{width:100%;height:700px;}
        .changeWindowBtn {
            position: absolute;
            left: -13px;
            top: 0;
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius:3px;
            background-color: #337ab7;
            color: #fff;
            cursor:pointer;
        }
        .left1{left:1px;}
        .ml16pre{margin-left:-16.66666667%}
        .width100Pre{width:100%;}
        .leftContent{transition:all 0.5s;}
        .rightContent{position:relative;transition:all 0.5s;}
    </style>
    <script src="js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<!--<pre><code class="javascript">function aa(){alert(1);}</code></pre>-->
<div class="container-fluid" style="height:100%;">
    <div class="row" style="height:100%;">
        <div class="col-md-2 leftContent" style="height:100%;">
            <div class="list-group" style="height:100%;border:1px solid #ddd;margin-bottom:0">

            </div>
        </div>
        <div class="col-md-10 rightContent">
            <span class="changeWindowBtn"><img style="width:25px;height:25px;" src="images/Category.png" /></span>
            <div id="content"></div>
            <button type="button"
                    onclick="resolve1()"
                    class="btn btn-primary">resolve1</button>
            <button type="button"
                    onclick="resolve2()"
                    class="btn btn-primary">resolve2</button>
            <button type="button"
                    onclick="resolve3()"
                    class="btn btn-primary">resolve3</button>
            <button type="button"
                    onclick="resolve4()"
                    class="btn btn-primary">resolve4</button>
            <button type="button"
                    onclick="resolve5()"
                    class="btn btn-primary">resolve5</button>
            <button type="button"
                    onclick="reject1()"
                    class="btn btn-primary">reject1</button>
            <button type="button"
                    onclick="reject2()"
                    class="btn btn-primary">reject2</button>
        </div>
    </div>
</div>

<script src="js/marked.min.js"></script>
<script src="js/jquery-1.9.1.min.js"></script>

<script>
    $.get('data/menuCode.js').success(function(data){});

    marked.setOptions({
        renderer: new marked.Renderer(),
        gfm: true,
        tables: true,
        breaks: false,
        pedantic: false,
        sanitize: false,
        smartLists: true,
        smartypants: false,
        highlight: function (code) {
            return hljs.highlightAuto(code).value;
        }
    });
    $.get('md/resolve&reject.md').success(function(data){
        //console.log(data);
        $('#content').html(marked(data));
        $('code').addClass('hljs');
        $('code').addClass('javascript');
    });


    function resolve1(){
        let getData = $.ajax('data/menu.json');
        let p=Promise.resolve(getData);
        p.then(function(data){
            console.log(data);
        })
    }

    function resolve2(){
        let pObj = new Promise(function(resolve,reject){
            resolve('resolve!!!');
        })
        let p=Promise.resolve(pObj);
        p.then(function(data){
            console.log(data);//resolve!!!
        })
    }

    function resolve3(){
        let thenable = {
            then:function(resolve,reject){
                resolve('11111');
            }
        }
        let p=Promise.resolve(thenable);
        p.then(function(data){
            console.log(data);//111111
        })
    }
    function resolve4(){
        let str = 'abc';
        let p=Promise.resolve(str);
        p.then(function(data){
            console.log(data);//abc
        })
    }
    function resolve5(){
        let p=Promise.resolve();
        p.then(function(data){
            console.log(data);//undefined
        })
    }

    function reject1(){
        let p=Promise.reject('出错了');
        p.catch(function(e){
            console.log(e);
        })
    }
    function reject2(){
        let thenable = {
            then:function(resolve,reject){
                reject('reject!!!');
            }
        }
        let p=Promise.resolve(thenable);
        p.catch(function(e){
            console.log(e);//reject!!!
        })
    }
</script>
</body>
</html>